$color-brand: #a51d35;
$color-light: #ffffff;
$color-dark: #2c2c2c;
$color-main-gradient: linear-gradient(16deg, rgba(250,50,85,1) 0%, rgba(255,255,255,1) 100%);

$animation-transition-time: 0.5s;

$border-for-tables: 1px solid $color-dark;

